#APP
APP_NAME="booking-service"
APP_PORT="3300"
APP_KEY=abcxyz
# Database
DATABASE_HOST="localhost"
DATABASE_PORT =5432
DATABASE_USERNAME =<username>
DATABASE_PASSWORD =<password>
DATABASE_NAME=<database_name>

#Google Calendar
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
